@model IEnumerable<e3_csharp.Models.Team>

@{
    ViewData["Title"] = "Equipos";
}

<h1>Equipos de Fútbol</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nuevo Equipo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-warning">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-info">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table> 