@model IEnumerable<e3_csharp.Models.Classroom>

@{
    ViewData["Title"] = "Aulas";
}

<h1>Classroom</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nueva</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Codigo)</th>
            <th>@Html.DisplayNameFor(model => model.Nombre)</th>
            <th>@Html.DisplayNameFor(model => model.Estado)</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Codigo)</td>
                <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                <td>@(item.Estado ? "Activo" : "Inactivo")</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-warning btn-sm">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-info btn-sm">Detalles</a>
                    <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table> 